:root {
  font-size: 60%;

  --background-color: #fcfcfc;
  --black-color: #0c0b0b;
  --gray-color: #4a4e69;
  --red-color: #e63946;
  --primary-color: #05668d;
  --card1-color: #457b9d;
  --card2-color: #a8dadc;
  --button-color: #1d3557;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
